/++.zip
/.idea
/Backend.pdf
/BD
/compilers.pdf
/CrystalDiskInfo.lnk
/desktop.ini
/dsa.txt
/gbd
/GitHub Desktop.lnk
/goodbyedpi-0.2.3rc3-2
/JS.pdf
/lab2 SIT
/MathWorks MATLAB R2024b v24.2.0
/op
/pars.py
/uTorrent Web.lnk
/web
/WordList.java
/Алгоритмы.pdf
/Компьютерные сети.zip
/Михайлов К. (Б9122-09.03.04 - 4 подгруппа) ДЗ-1.docx
/Михайлов К. (Б9122-09.03.04 - 4 подгруппа) ДЗ-2.docx
/Паттерны.pdf
/ПП.pdf
/Серебряков.pdf